<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.example.bean.ConsumerProduct" id="consumerProduct"/>
    <bean class="com.example.bean.IndustrialProduct" id="industrialProduct"/>

    <bean class="com.example.bean.TradeFair" id="tradeFair">
        <constructor-arg ref="industrialProduct" name="industrialProduct"/>
        <constructor-arg ref="consumerProduct" name="consumerProduct"/>

<!--        <property name="consumerProduct" ref="consumerProduct" />-->
<!--        <property name="industrialProduct" ref="industrialProduct"/>-->
    </bean>
</beans>